$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 0.75rem;
$size-4: 1rem;
$size-5: 1.25rem;
$size-6: 1.5rem;
$size-7: 1.75rem;
$size-8: 2rem;
$size-9: 2.5rem;
$size-10: 3rem;
$size-11: 4rem;
$size-12: 5rem;
$size-13: 6rem;
$size-14: 8rem;
$size-15: 10rem;
