@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

// general
$color-text-default: $clr-neutral-400;
$color-background-default: $clr-neutral-100;
$font-weight-default: $fw-medium;

// body
$body-font-family: $ff-base;
$body-font-size: $fs-400;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

// headings
$heading-font-family: $body-font-family;
$heading-font-weight: $fw-bold;
$heading-color-default: $clr-neutral-400;

// layout
$grid-gap: $size-4;

$container-padding: $size-6;
$container-max-width: 69.375rem;
