@use "../abstracts/" as *;

.container {
	width: min(100% - calc($container-padding * 2), $container-max-width);
	margin-inline: auto;

	padding-block: 5rem;

	@include media(large) {
		width: min(
			100% - calc($container-padding * 2),
			$container-max-width-desktop
		);
	}
}
