@use "../abstracts/" as *;

.heading-1 {
	@include heading($fs-800);
	line-height: 2rem;
	letter-spacing: -1.429px;

	@include media(large) {
		@include heading($fs-900);
		text-align: left;
		line-height: 3rem;
	}
}

.heading-2 {
	@include heading($fs-400, $clr-neutral-100);
}
