@use "../abstracts" as *;

body {
	font-family: $body-font-family;
	font-size: $body-font-size;
	font-weight: $body-font-weight;
	color: $body-text-color;
	background-color: $body-background-color;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	@include pseudo {
		background: url("//img/bg-pattern-top-mobile.svg") no-repeat;
	}

	@include pseudo(after) {
		background: url("/img/bg-pattern-bottom-mobile.svg") no-repeat;
		background-position: right bottom;
	}

	@include media(large) {
		@include pseudo {
			background: url("/img/bg-pattern-top-desktop.svg") no-repeat;
		}

		@include pseudo(after) {
			background: url("/img/bg-pattern-bottom-desktop.svg") no-repeat;
			background-position: right bottom;
		}
	}
}
