@use "../abstracts" as *;

body {
	font-family: $body-font-family;
	font-size: $body-font-size;
	font-weight: $body-font-weight;
	color: $body-text-color;
	background-color: $body-background-color;
}

main {
	padding: remSize(82px) 0 remSize(99px);

	@include media(large) {
		padding: remSize(118px) 0 remSize(99px);
	}
}
